<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/stylesheets/agrepro.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
</head>
<body>
    <div>
        <img src="images/4.jpg" class="m2">
    </div>
    <h1>Pagina productos</h1>
    <div class="T1">
    <a href="/home">Administracion</a>
    <a href="/categorias">Categorias</a>
    <a href="/imagenes">Imagenes</a>
    </div>
    <div class="T2">
        <table border="1">
            <caption>Productos</caption>
            <tr class="T3">
                <th>N°</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th> 
                <th>Empresa</th>
                <th>Sexo</th>
                <th>Descripcion</th>
                <td><a href="/pa">Agregar</a></td>
            </tr>
            <tr>
                <% if (productos) { %>
                    <% for (let i = 0; i < productos.length; i++){  %>
                        <% if (productos) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= productos[i].codigo %></td>
                                <td><%= productos[i].nombre %></td>
                                <td><%= productos[i].precio %></td>
                                <td><%= productos[i].empresa %></td>
                                <td><%= productos[i].sexo %></td>
                                <td><%= productos[i].descripcion %></td>
                                <td> 
                                    <div class="T4">
                                        <a href="/prodE/<%= productos[i].id%>" class="btn btn-danger">Eliminar</a>
                                        <a href="/prodAc/<%= productos[i].id%>" class="btn btn-info">Actualizar</a>
                                    </div>
                                </td>
                            </tr>    
                        <% } %>
                    <% } %>
                <% } else { %>
                        <tr>
                            <th>No hay productos en el sistema</th>
                        </tr>
                    <% }   %>
            </tr>
        </table>
    </div>
</body>
</html>